form{
    margin: auto ;
    padding: 80px;
    max-width: 300px;
}

.body{
    background-color: grey;
}

.first{
    color: white;
}
.second>input{
    color: white;
    background-color: transparent;
}
.third{
    background-color: rgb(246, 124, 228);
    padding: 3rem;

}
.third h2{
    width: 2rem;
    font: 1em ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.total{
    display: block;
    margin-left: 27em;
    margin-bottom: -2em;
    background-color: brown;
}